.App {
  display: flex;
  // aside
  .aside {
    height: 100vh;
    width: 240px;
    color: $color-white;
    background-color: $color-blue;
    h1 {
      height: 50px;
      line-height: 50px;
      padding-left: 15px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      background-color: $color-red;
    }
  }
  // container
  .container {
    flex: 1;
    .container-header {
      display: flex;
      padding: 0 20px;
      height: 50px;
      line-height: 50px;
      color: #fff;
      background-color: $color-blue;
      ul {
        display: flex;
        li {
          a {
            color: #fff;
            padding: 0 19px;
            font-weight: 500;
            display: block;
            cursor: pointer;
            &.active {
              color: #052a5f;
              background-color: #fff;
            }
          }
        }
      }
    }
    .container-content {
      background-color: $color-white;
    }
  }
}
