@import '@/assets/styles/Color';
.aside {
  position: relative;
  .aside-menu {
    li {
      a {
        display: flex;
        align-items: center;
        padding-left: 15px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        cursor: pointer;
        &.active {
          background-color: $color-blue-s;
        }
      }
    }
  }
  .aside-time {
    position: absolute;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background-color: $color-blue;
    left: 0;
    bottom: 0;
    right: 0;
  }
}