.markdown {
  position: relative;
  top: 0;
  bottom: 0;
  display: flex;
  .left {
    width: 35%;
    min-height: calc(100vh - 140px);
    textarea {
      width: 100%;
      height: 100%;
      padding: 15px;
      font-size: 15px;
      font-weight: 500;
      color: #6598cd;
      border: none;
      background-color: #2c2c2c;
    }
  }
  .right {
    flex: 1;
    word-break: break-all;
    padding-left: 20px;
  }
}

// Markdown CSS
.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--headings-color);
    font-family: "HelveticaN", pingfang sc, microsoft yahei, sans-serif;
    font-weight: 700;
    line-height: 1.75;
    margin-bottom: 15px;
  }
  h1, h2 {
    border-bottom: 1px solid #ededed;
  }

  pre {
    font-family: 'JetBrains Mono';
    font-size: 0.9em;
    line-height: 1.5em;
  }

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2.75em
  }

  h2 {
    font-size: 1.75em
  }

  h3 {
    font-size: 1.45em
  }

  h4 {
    font-size: 1.25em
  }

  h5 {
    font-size: 1.1em
  }

  h6 {
    font-size: 1em;
    font-weight: bold
  }

  code {
    color: var(--highlight-color);
  }

  ol {
    padding-left: 16px;
  }
  ol li {
    list-style: decimal;
  }
  li {
    font-size: 16px;
  }

  p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.75;
    margin: 5px 0;
  }

  u {
    text-decoration: none;
    border-bottom: 1px solid #999;
  }

  @media screen and (max-width: 48em) {
    blockquote {
      margin-left: 1rem;
      margin-right: 0;
      padding: 0.5em;
    }
    h1 {
      font-size: 2.827rem;
    }
    h2 {
      font-size: 1.999rem;
    }
    h3 {
      font-size: 1.413rem;
    }
    h4 {
      font-size: 1.250rem;
    }
    h5 {
      font-size: 1.150rem;
    }
    h6 {
      font-size: 1rem;
    }
  }
  a .md-def-url {
    color: #262a30;
  }
  a {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
    font-family: "HelveticaN";
    color: #1a27cc;
  }
  a:hover {
    text-decoration: underline;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font-family: "HelveticaN", pingfang sc, microsoft yahei, sans-serif;
    margin: 0 0 20px;
    width: 100%;
  }
  table tr:nth-child(2n),
  thead {
    background-color: #f9f9f9;
  }
  tbody tr:hover {
    background: #f5f5f5
  }
  caption,
  td,
  th {
    font-weight: 400;
    padding: 8px;
    text-align: left;
    vertical-align: middle
  }
  td,
  th {
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd
  }
  th {
    font-weight: 700;
    padding-bottom: 10px
  }
  td {
    border-bottom-width: 1px
  }
  code {
    font-size: 13px;
    color: #333;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  blockquote {
    border-left: 4px solid #ddd;
    color: #666;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0 15px
  }
  blockquote p {
    color: #666
  }
  blockquote cite::before {
    content: '-';
    padding: 0 5px
  }
  pre {
    min-height: 30px;
    background: #f6f8fa;
    padding: 1.5em;
    font-weight: 300;
    font-size: 1em;
    padding-bottom: 1.5em;
    margin-top: -1.5em;
    color: #333;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.8em;
    line-height: 1.5em;
    font-family: 'JetBrains Mono';
    border-radius: 2px;
  }
  p {
    padding-bottom: 0;
  }
  em {
    font-style: italic;
  }
}