* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  font-size: 14px;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-gray;
  background: $color-background;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
input{
  outline:0 none;
}
a, input, div{
  -webkit-tap-highlight-color: transparent;
}
img, input{
  border:none;
}
img{
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}
ul, ol, ul li, ol li, li{
  list-style: none;
}
i, em{
  font-style: normal;
}
button, input[type="button"], input[type='submit']{
  cursor: pointer;
}
a{
  text-decoration: none;
  cursor:pointer;
}
a:focus,button:focus,input:focus {
  outline: 0;
}

//清除谷歌自输入框样式
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
}

// 清除ie输入框叉叉与眼睛
::-ms-clear, ::-ms-reveal{display: none;}

// Correct block display not defined for any HTML5 element in IE 8/9.
// Correct block display not defined for details or summary in IE 10/11 and Firefox.
// Correct block display not defined for main in IE 11.
div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
  margin: 0;
}

// 1. Correct inline-block display not defined in IE 9-.
audio, canvas, progress, video {
  display: inline-block; // 1
}

// padding
.p-5{ padding: 5px; }
.p-10{ padding: 10px; }
.p-15{ padding: 15px; }
.p-20{ padding: 20px; }
.p-25{ padding: 25px; }
.p-30{ padding: 30px; }

// margin
.m-5{ margin: 5px; }
.m-10{ margin: 10px; }
.m-15{ margin: 15px; }
.m-20{ margin: 20px; }
.m-25{ margin: 25px; }
.m-30{ margin: 30px; }

// clearfix
.left{float:left;}
.right{float:right;}
.clearfix {zoom: 1;}
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// 单行文字溢出虚点显示
.ellipsis{
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
